h5{
    text-align: center;
    color: red;

}
p{
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    justify-content: center;
}
body{
    background-color: cadetblue;
    padding-top: 5%;
}
.card:hover{
    background-color:pink;
}
h1{
    display: flex;
    justify-content: center;
    font-family: cursive;
    background-color: aliceblue;
}
 



